body,html{
    width: 100%;
    height: 100%;
    background: #f1f2f7;
}
//小火箭
#rocket-to-top {
  background: url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
  cursor: default;
  display: block;
  height: 250px;
  margin: -125px 0 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 80%;
  width: 149px;
  z-index: 11; 
  div{
        left: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0; 
        width: 149px; 
  } 
  .level-2{
        background: url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
        display: none;
        height: 250px;
        opacity: 0;
        z-index: 1;
    }
    .level-3{
        background: none repeat scroll 0 0 transparent;
        cursor: pointer;
        display: block;
        height: 150px;
        z-index: 2; 
    }
} 
.header{
    width: 100%;
    background: #fff;
    height: 74px;
    margin-bottom: 37px;
    .box{
        width: 990px;
        margin: 0 auto;
        h2{
            width: 145px;
            height: 74px;
            position: relative;
            margin-right: 216px;
            img{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 36px;
            }
        }
        .tab{
            li{
                font: 19px/66px "微软雅黑";
                font-weight: bold;
                border-bottom: 4px solid transparent;
                margin: 0 24px;
                a{
                    color: #6f6f6f;
                }
            }
            li:hover{
                border-bottom: 4px solid #0088ff;
                a{
                    color: #0088ff;
                }
                
            }
            .on{
                border-bottom: 4px solid #0088ff;
                a{
                    color: #0088ff;
                }
                
            }
        }
        h3{
            font: 12px/74px "微软雅黑";
            color: #6f6f6f;
        }
    }
}
.orange{
    color: #ff4800;
}
.blue{
    color: #0084ff;
}
.mainContent{
    width: 868px;
    margin:0 auto;
    padding: 48px 60px;
    border: 1px solid #9ba2c4;
    background: #fff;
    position: relative;
    .success,.fail{
        dl{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 140px;
            width: 100%;
        }
        
        dt{
            img{
                margin:0 auto;
            }
        }
        dd{
            font: 16px/38px "微软雅黑";
            color: #353535;
            text-align: center;
            a{
                display: inline-block;
                margin: 0 auto;
                padding: 0px 16px;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
            }
        }
        .small{
            font: 12px/38px "微软雅黑";
            color: #a3a3a3;
            text-align: center;
        }
    }
    .per{
        h3{
            font: 12px/31px "微软雅黑";
            color: #949494;
            text-indent: 98px;
        }
        .cz{
            font: 16px/47px "微软雅黑";
            color: #fff;
            background: #19b6ed;
            width: 113px;
            margin-left: 96px;
            margin-top: 26px;
            margin-bottom: 100px;
        }
        .disabled{
            background: #dfdfdf;
            color: #ffffff;
        }
        div{
            margin:23px 0;
            font: 12px/55px "微软雅黑";
            label{
                width: 85px;
                font: 12px/43px "微软雅黑";
                color: #4e4e4e;
                text-align: right;
            }
            input{
                width: 112px;
                font-family: "微软雅黑";
                color: #ababab;
                padding: 18px 6px;
                font-size: 12px;
                border: 1px solid #909090;
                margin:0 6px 0 12px;
            }
            input:focus{
                border: 1px solid #60aee0;
            }
            .zffs{
                li{
                    width: 114px;
                    height: 50px;
                    border: 1px solid #cfcfcf;
                    margin:0 12px;
                    position: relative;
                    font: 12px/50px "微软雅黑";
                    color: #3e3e3e;
                    cursor: pointer;
                    span{
                        position: relative;
                        width: 50px;
                        height: 50px;
                        img{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            margin:auto;
                        }
                    }
                    em{
                        font: 12px/20px "微软雅黑";
                        background: #55d575;
                        color: #fff;
                        padding: 0 4px;
                        position: absolute;
                        top: -23px;
                        left: 1px ;
                    }
                }
                .on{
                    background: url(../images/yes.png) no-repeat right bottom;
                    border: 1px solid #60aee0;
                }
                li:hover{
                    background: url(../images/yes.png) no-repeat right bottom;
                    border: 1px solid #60aee0;
                }
//              .zfb{
//                  background: url(../images/zfb.png) no-repeat 16px center;
//              }
//              .wx{
//                  background: url(../images/wx.png) no-repeat 16px center;
//              }
//              .qq{
//                  background: url(../images/qq.png) no-repeat 16px center;
//              }
            }
        }
        dl{
            dt{
                font: 12px/36px "微软雅黑";
                color: #404040;
                border-bottom: 1px solid #cfcfcf;
            }
            dd{
                font: 12px/24px "微软雅黑";
                color: #3a3a3a;
                h4{
                    color: #8e8e8e;
                }
            }
        }
    }
}
@keyframes scale
{
    0%{
        transform:scale(0.5,0.5);
    },
    100%{
        transform:scale(1,1)
    }
}

@-moz-keyframes scale /* Firefox */
{
    0%{
        transform:scale(0.5,0.5);
    },
    100%{
        transform:scale(1,1)
    }

@-webkit-keyframes scale /* Safari 和 Chrome */
{
    0%{
        transform:scale(0.5,0.5);
    },
    100%{
        transform:scale(1,1)
    }
}

@-o-keyframes scale /* Opera */
{
    0%{
        transform:scale(0.5,0.5);
    },
    100%{
        transform:scale(1,1)
    }
}
.animate{
    animation:scale 0.3s ease  alternate;
}
.footer{
    font: 12px/94px "微软雅黑";
    color: #949494;
    text-align: center;
}
.blue{
    background: #0088ff;
    color: #fff!important;
}
.green{
    color: #0bc028;
}
//遮罩层
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    left: 0;
    top: 0;
    background: rgba(000,000,000,0.4);
    .box{
        width: 480px;
        position: absolute;
        height: 282px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        h2{
            font: 16px/48px "微软雅黑";
            color: #333333;
            border-bottom: 1px solid #e3e3e3;
            span{
                margin-left: 20px;
            }
            em{
                position: relative;
                width: 48px;
                height: 48px;
                cursor: pointer;
                img{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 17px;
                }
            }
        }
        dl{
            height: 124px;
            padding-top: 44px;
            padding-left: 170px;
            padding-right: 50px;
            background: url(../images/sun.png) no-repeat 93px center;
            border-bottom: 1px solid #e3e3e3;
            dt,dd{
                font: 18px/38px "微软雅黑";
                color: #000000;
            }
            dd{
                font-size: 14px;
                color: #333333;
            }
        }
        h3{
            font: 16px/30px "微软雅黑";
            text-align: center;
            padding-top: 90px;
        }
        h4{
            height: 54px;
            background: #ebf2f7;
            text-align: center;
            font-size: 0;
            vertical-align: middle;
            padding-top: 14px;
            a{
                padding: 11px 16px;
                display: inline-block;
                margin: 0 13px;
                border: 1px solid #d1d2d3;
                font-size: 12px;
                color: #6e6e6e;
            }
        }
    }
}
